In [2]:
import pandas as pd

In [ ]:
a = pd.read_csv("rate_count.csv")
a

     primary_label  rating  count
0            21038     0.0      2
1            21116     0.0      2
2            21211     0.0      8
3            21211     2.0      4
4            21211     3.0     44
...            ...     ...    ...
1330        ywcpar     3.0     13
1331        ywcpar     3.5      4
1332        ywcpar     4.0     38
1333        ywcpar     4.5      9
1334        ywcpar     5.0     44

[1335 rows x 3 columns]

In [11]:
df = pd.read_csv("/data/birdclef/train.csv")

In [13]:
df.columns

Index(['primary_label', 'secondary_labels', 'type', 'filename', 'collection',
       'rating', 'url', 'latitude', 'longitude', 'scientific_name',
       'common_name', 'author', 'license'],
      dtype='object')